.popup {
    position:fixed;
    top: 30vh;
    left: 15%;
    right: 15%;
    height: 40%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    position: relative;
    padding: 2rem 4rem;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}

.modal-button {
    position: absolute;
    right: 1em;
    top: 1em;
    outline: none;
    appearance: none;
    border: 0px;
    border-radius: 25px;
    color: #fff;
    padding: 4px 10px;
}

.closed {    
    opacity: 0;
    visibility: hidden;
}

.popupVisible {
    visibility: visible;
    opacity: 1;
}
 
.error {
    background-color: #e07272;
}

.error-button {
    background-color: #bd5f5f;
}

.success {
    background-color: #10b4c1;
}

.success-button {
    background-color: #0c949e;
}

@media (min-width: 500px) {
    .popup-content {        
        padding: 3rem 6rem;
    }

    .popup-content {        
        left: 25%;
        right: 25%;
        height: 50%;
        width: 50%;
    }
}